:root {
    --primary-color: rgb(27, 27, 27);
    --facetype: "Roboto", sans-serif;
    --button-color: rgb(70, 180, 171);
    --secondary-color: rgb(238, 237, 237);
}



body  {
    background: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
font-family: var(--facetype);
font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
     font-size: 64px;

}

h3 {
    text-align: center;
}

p {
   font-weight: normal;
   font-size: 18px;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

nav {
    padding: 20px 0;
}
nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    list-style: none;
    line-height: 80px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}

nav a:hover, 
nav li.active a {
    color: var(--button-color);
}

.hero {
    background: var(--primary-color);
    padding: 160px 20px;
    text-align: center;
    padding: 160px 20px;
}

a {
    display: block;
    text-align: center;
}

.hero p {
    font-family: var(--facetype);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--secondary-color);
    opacity: 50%;
}

.hero h2 {
    font-family: var(--facetype);
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    color: var(--secondary-color);
}

.content-container  {
    padding: 160px 20px;
}

.content-container h1 {
    font-size: 64px;
    line-height: 80px;
}

.content-container  h2 {
    font-size: 18px;
    font-family: var(--facetype);
}

.content {
    margin: 30px;
}

.btn-primary {
    background: var(--secondary-color);
    border-radius: 4px;
    color: black;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

btn
.img {
    padding: 30px 0px;

}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }
    
    .content-container  {
    text-align: center;
    padding: 0;
}
}