:root {
    --background-color: rgb(27, 27, 27);
    --facetype: "Roboto", sans-serif;
}



body  {
    background: var(--background-color);
}



h1 {
    font-family: var(--background-color);
    font-weight: 700;
    font-style: normal;
    font-size: 96px;
    color: white;
}

h2 {
     color: white;
}

p {
    color: white;
}

.hero {
    background: var(--background-color);
    padding: 160px 20px;
    text-align: center;
}



.hero p {
    font-family: var(--facetype);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.hero h2 {
    font-family: var(--facetype);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
    color: whitesmoke;
}

.about-section {
    padding: 160px 20px;
}
.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}

.about-section h2 {
    font-size: 18px;
    font-family: var(--facetype);
}

.about-section-content {
    margin: 30px;
}
.btn-primary {
    background: whitesmoke;
    border-radius: 4px;
    color: var(--background-color);
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}

.img {
    padding: 30px 0px;

}


@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }
    
    .about-section {
    text-align: center;
    padding: 0;
}
}